// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

body {
  padding: 0px 20px;
}

.btn {
  a {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
}

ul {
  padding: 20px 0px
}

h1 {
  padding: 0px 0px 20px 0px;
}

.title_text {
  font-size: 16px;
  text-decoration: none;
  padding: 0px 20px;
  display: inline;
}
